<section class="portfolio">

    <h1 class="heading" style="margin-bottom: -10px;"> <span>Meus</span> Trabalhos </h1>
    <p class="text" style="font-size: 2rem;color: #aaa;line-height: 2;margin-bottom: 20px;">Apenas uma mostra de projetos desenvolvidos.</p>
    <title>sei la</title>
    <paragraph>alguma coisas</paragraph>
    <div class="box-container">
        <!-- <div class="box">
            <img src="assets/images/img-1.jpg" alt="">
            <div class="content">
                <h3>Em Manutenção</h3>
                <h3>Projeto 01 - Repertorioficial</h3>
                <p>Sistema EAD com E-commerce</p>
                <p>Tecnologias: Angular e Laravel</p>
                <a href="https://repertoriooficial.com.br/" target="_blank" rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div> -->
        <div class="box">
            <img src="assets/images/img-1.jpg" alt="">
            <div class="content">
                <h3>App Orçamento Pessoal</h3>
                <h3>Projeto 01</h3>
                <p>Interface básica de registro de despesas.</p>
                <p>Tecnologias: JavaScript, Bootstrap, CSS.</p>
                <a href="https://devmartinsdavid.github.io/app-orcamento-pessoal/index.html" target="_blank" rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>
        
        <div class="box">
            <img src="assets/images/img-2.jpg" alt="">
            <div class="content">
                <h3>Cadastro de produtos</h3>
                <h3>Projeto 02</h3>
                <p>Demonstração de um layout para cadastro de produtos utilizando Angular.</p>
                <p>Tecnologias: Angular, CSS.</p>
                <a href="https://devmartinsdavid.github.io/Estudos-Angular/" target="_blank" rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>
       
        <div class="box">
            <img src="assets/images/img-3.jpg" alt="">
            <div class="content">
                <h3>Jogo Teste</h3>
                <h3>Projeto 03</h3>
                <p>Implementação de design responsivo e conceitos de UI/UX para uma interação intuitiva em qualquer tamanho de tela.</p>
                <p>Tecnologias: JavaScript e CSS.</p>
                <a href="https://devmartinsdavid.github.io/jogo-do-mosquito/" target="_blank" rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>
        
        <div class="box">
            <img src="assets/images/img-4.jpg" alt="">
            <div class="content">
                <h3>Em Manutenção</h3>
                <!-- <h3>Projeto 04 - Little </h3> -->
                <!-- <p>Sistema ERP simples, sem nota fiscal, controle de usuario, controle de estoque, vendas, contas a pagar e receber, movimentação de caixa.</p> -->
                <!-- <p>Tecnologias: Angular e Laravel</p> -->
                <!-- <a href="" target="_blank" rel="noopener noreferrer">Ver projeto</a> -->
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-5.jpg" alt="">
            <div class="content">
                <h3>Em Manutenção</h3>
                <!-- <h3>Projeto 05 - App Entregador</h3> -->
                <!-- <p>Sistema para entregador do Casa do importado e do Little trees, o aplicativo consome essas duas api's.</p> -->
                <!-- <p>Tecnologias: Angular e Laravel</p> -->
                <!-- <a href="http://app.littletreesgo.com/" target="_blank" rel="noopener noreferrer">Ver projeto</a> -->
            </div>
        </div>
        
        <div class="box">
            <img src="assets/images/img-6.jpg" alt="">
            <div class="content">
                <h3>Em Manutenção</h3>
                <!-- <h3>Projeto 06 - Cardapio Web</h3> -->
                <!-- <p>Aplicativo que mostra o cardapio de um restaurante, projeto privado.</p> -->
                <!-- <p>Tecnologias: Ionic e Java</p> -->
            </div>
        </div>

    </div>

    <!-- <a href="#" class="btn"> load more <i class="fas fa-redo"></i> </a> -->
    
</section>