<section class="portfolio">

    <h1 class="heading" style="margin-bottom: -10px;"> <span>Alguns</span> Progetos </h1>
    <p class="text" style="font-size: 2rem;color: #aaa;line-height: 2;margin-bottom: 20px;">Projetos Simples
        Desenvolvidos nos Cursos</p>
    <div class="box-container">
        <div class="box">
            <img src="assets/images/img-1.jpg" alt="">
            <div class="content">
                <h3>App Orçamento Pessoal</h3>
                <p>Interface básica de registro de despesas.</p>
                <p>Tecnologias: JavaScript, Bootstrap, CSS.</p>
                <a href="https://devmartinsdavid.github.io/orcamento-pessoal-exemplo/" target="_blank"
                    rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-2.jpg" alt="">
            <div class="content">
                <h3>Cadastro de produtos</h3>
                <p>Demonstração de um layout para cadastro de produtos utilizando Angular.</p>
                <p>Tecnologias: Angular, CSS.</p>
                <a href="https://devmartinsdavid.github.io/Estudos-Angular/" target="_blank"
                    rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-3.jpg" alt="">
            <div class="content">
                <h3>Jogo Teste</h3>
                <p>Implementação de design responsivo e conceitos de UI/UX para uma interação intuitiva em qualquer
                    tamanho de tela.</p>
                <p>Tecnologias: JavaScript e CSS.</p>
                <a href="https://devmartinsdavid.github.io/jogo-do-mosquito/" target="_blank"
                    rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-4.jpg" alt="">
            <div class="content">
                <h3>Calculadora de Massa Corporal</h3>
                <p>Experimentos de design utilizando GSAP, CSS e SVG. Implementação de lógica simples com JavaScript.</p>
                <p>Tecnologias utilizadas: JavaScript, GSAP e CSS</p>
                <a href="https://devmartinsdavid.github.io/calculo-massa-corporal/">Ver Projeto</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-5.jpg" alt="">
            <div class="content">
                <h3>Em Manutenção</h3>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-6.jpg" alt="">
            <div class="content">
                <h3>Em Manutenção</h3>
            </div>
        </div>

    </div>

    <a href="#" class="btn"> load more <i class="fas fa-redo"></i> </a>

</section>