<section class="about">

  <h1 class="heading" [innerHTML]="'about.aboutTitle' | translate"></h1>

  <div class="row">

    <div class="info-container">

      <h1>{{ 'about.personal_info' | translate }}</h1>

      <div class="box-container">

        <div class="box">
          <h3> <span>{{ 'about.name' | translate }} : </span> David Wallison Martins Lopes </h3>
          <h3><span> {{ 'about.age' | translate }} : </span> {{ birthday }} {{ 'about.years' | translate }} </h3>
          <h3> <span>{{ 'about.address' | translate }} : </span> Goiânia/GO, Brazil </h3>
        </div>

        <div class="box">
          <h3> <span>{{ 'about.freelance_clt' | translate }} : </span> {{ 'about.available' | translate }} </h3>
          <h3> <span>{{ 'about.skills' | translate }} : </span> front-end & back-end </h3>
          <h3> <span>{{ 'about.languages' | translate }} : </span> {{ 'about.proficiency' | translate }} </h3>
        </div>

      </div>

    </div>

    <div class="count-container">

      <div class="box">
        <h3>{{ yearsProgramation }}</h3>
        <p>{{ 'about.years_experience' | translate }}</p>
      </div>

      <div class="box">
        <h3>+7</h3>
        <p>{{ 'about.completed_projects' | translate }}</p>
      </div>

    </div>

  </div>

</section>

<section class="skills">

  <h1 class="heading" style="margin-top: 50px;" [innerHTML]="'skills.title' | translate"></h1>

  <div class="box-container">
    <div class="box">
      <img src="assets/images/icon-1.png">
      <h3>HTML</h3>
    </div>
    <div class="box">
      <img src="assets/images/icon-2.png">
      <h3>CSS</h3>
    </div>
    <div class="box">
      <img src="assets/images/icon-3.png">
      <h3>JavaScript</h3>
    </div>
    <div class="box">
      <img src="assets/images/icon-php.svg">
      <h3>PHP</h3>
    </div>
    <div class="box">
      <img src="assets/images/icon-5.png">
      <h3>jQuery</h3>
    </div>
    <div class="box">
      <img src="assets/images/icon-8.png">
      <h3>Laravel</h3>
    </div>
    <div class="box">
      <img src="assets/images/icon-angular.png">
      <h3>Angular</h3>
    </div>
    <div class="box">
      <img src="assets/images/icon-9.png">
      <h3>TypeScript</h3>
    </div>
    <div class="box">
      <img src="assets/images/icon-nodejs.png">
      <h3>NodeJs</h3>
    </div>
    <div class="box">
      <img src="assets/images/mysql.png">
      <h3>MySQL</h3>
    </div>
  </div>

</section>

<section class="education">

  <h1 class="heading" style="margin-top: 50px;" [innerHTML]="'education.title' | translate"></h1>

  <div class="box-container">

    <div class="box">
      <i class="fas fa-graduation-cap"></i>
      <span>{{ 'education.course_analysis.name' | translate }}</span>
      <h3>{{ 'education.course_analysis.status' | translate }}</h3>
      <p>{{ 'education.course_analysis.description' | translate }}</p>
    </div>

    <div class="box">
      <i class="fas fa-graduation-cap"></i>
      <span> {{'education.course_web_dev.name' | translate}} </span>
      <h3>{{ 'education.course_web_dev.title' | translate }}</h3>
      <p>{{ 'education.course_web_dev.description' | translate }}</p>
    </div>

    <div class="box">
      <i class="fas fa-graduation-cap"></i>
      <span> {{'education.course_angular.name' | translate}} </span>
      <h3>{{ 'education.course_angular.title' | translate }}</h3>
      <p>{{ 'education.course_angular.description' | translate }}</p>
    </div>

    <div class="box">
      <i class="fas fa-graduation-cap"></i>
      <span>{{ 'education.course_typescript.name' | translate }}</span>
      <h3>{{ 'education.course_typescript.name' | translate }}</h3>
      <p>{{ 'education.course_typescript.description' | translate }}</p>
    </div>
  </div>

  <div *ngIf="isLargeScreen" [ngClass]="{
    'box': true,
    'box-large-screen': isLargeScreen
  }">
  </div>

</section>
