
/* navbar */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(13, 13, 13, 0.95);
  padding: 1rem 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navbar a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5rem;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background: #449eaf;
  color: #000;
  border-radius: 5rem;
}

.link-active i {
  color: #FFF !important;
}

.navbar a i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #449eaf;
  transition: color 0.3s ease;
}

.navbar a:hover i {
  color: #fff;
}

.navbar a span {
  display: block;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

/* responsiveness */
@media (max-width: 768px) {
  .navbar a span {
    display: none;
  }
  .navbar a i {
    font-size: 2.5rem;
  }
}



