<section class="home">

    <div class="image">
        <img src="assets/images/user4.jpg" alt="LOGO">
    </div>

    <div class="content">
        <h3> {{ textToType }} </h3>
        <span> {{ textToTypeSubtitle }} </span>
        <p style="text-transform: none;">Como alguém apaixonado por programação, empenho-me com dedicação aos meus projetos, encontrando prazer e satisfação na minha jornada como programador. Estou constantemente empenhado em aprimorar minhas habilidades e buscar crescimento profissional contínuo.</p>
        <a class="btn" [routerLink]="['/sobre']"> 
            Sobre eu
            <i class="fas fa-user"></i>
        </a>
    </div>

</section>