.container-language-selector{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  color: aliceblue;
}

.dropdown-menu {
  text-align: center;
  list-style: none;
  cursor: pointer;
}

button {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #449eaf;
  color: #fff;
}

img {
  width: 50%;
  height: 20%;
}

.hover-select:hover{
  background-color: #449eaf;
  border-radius: 15%;
}
.hover-select > p {
  text-align: center;
}
/* mobile */
@media (max-width: 768px) {
  button {
    margin-right: 0;
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-language-selector{
    max-width: 13%;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
