@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

/* main */
body {
  background: #0d0d0d;
  padding-bottom: 6.5rem;
  position: relative;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
section {
  padding: 0rem 9%;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: #0d0d0d;
}
html::-webkit-scrollbar-thumb {
  background: #39FF14;
  border-radius: 5rem;
}

/* container */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

/* heading */
.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.heading span {
  text-transform: uppercase;
  color: #39FF14;
}

/* btns */
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #2c9b17;
  padding: .7rem;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 2rem;
}
.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: #2c9b17;
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.btn:hover i {
  margin-left: 2rem;
}

/* inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* responsiveness */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 12vw;
  }

  .navbar a i {
    padding: 0;
  }

  .navbar a span {
    display: none;
  }

  .navbar a:hover {
    padding-bottom: 2rem;
  }

  .home {
    text-align: center;
    gap: 2rem;
  }

  .home .image img {
    height: 30rem;
    width: 30rem;
  }

  .home .content h3 {
    font-size: 3rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 300px) {
  .home .btn{
    margin-top: -5px;
    margin-bottom: 10px;
  }
}
